body {
    background-color: rgb(83, 113, 153);
    font-family: Arial, Helvetica, sans-serif;
}
 
.header_container {
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.border {
    border: 1px solid rgb(185, 185, 185);
    border-radius: 50px;
    padding: 0px 10px;
    background-color: whitesmoke;
    }

.logo  {
    justify-self:center;
    background-color: transparent;
    border: 0cap;
}

.title {
    font-size: 2em;
    color: orange;
}

ol{
    list-style-type: disc;
}

 ol li::before{
    content:"\2022";
    color: red;
    font-weight: bold;
    display: inline-block;
    width: 1em; 
    margin-left: -1em;
} 

 code {
    background-color: #999999;
    border-radius: 25px;
    padding: 0 3px;
    color: rgb(153, 18, 18);
  }
code::before{
    font-weight: bold;
    content: "<";
}

code::after{
    font-weight: bold;
    content: ">";
}

h3 {
  margin-left: 20px;  
  color: white;
  font-size: 1.5em;
  /* border-bottom: 1px solid white; */
}  

.container {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    margin: 10px;
    gap: 10px;
}

.cards {
    display: flex;
    flex: 1 1 0px;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    background-color: gray;
    border: 1px solid;
    border-color: white;
    justify-content: center;
}

.cards p {
    background-color: #cecece;
    padding: 5px 10px;
    margin: 10px;
    border: 1px solid;
    width: 300px;
}   

div.sub_title {
    background-color: #cecece;
    padding: 5px 10px;
    margin: 10px;
    border: 1px solid;
}

img {
    max-width: 300px;
    max-height: 300px;
}
